ADMIN_JWT_SECRET="ditya-group-jwt-secret-key-at-least-32-chars-random-production"

DATABASE_URL="mariadb://ditya0a7_yourcpaneluser_admin:supersecretadminpassword123@162.241.148.163:3306/ditya0a7_yourcpaneluser_gbncircle"

EMAIL_USER="gnbmailsender@gmail.com"
EMAIL_PASS="your-gmail-app-password"

